@page "/Cliente"
@inject IClienteService clienteService 
@inject IProximoRegistroService registroService
@inject IOperadorLocalService session

@if(cliente is null)
{
    <LoadingComponent />
}
else
{
    <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
        <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;margin-top: 60px;">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="text-dark mb-4">Cadastro de Cliente</h4>
                </div><!-- Start: Register Form -->
                <form class="user" @onsubmit="salvarCadastro">
                    <!-- Start: Cod Prod e Inativo -->
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-4" style="width: 326.516px;">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Cod. Cliente</h4><!-- Start: 1 Row 2 Columns -->
                                        <div class="row">
                                            <div class="col-md-4 col-xxl-4" style="width: 156.797px;">
                                                <input class="form-control" type="number" required="" disabled="@stsCodCliente" @bind-value="@cliente.id"
                                                       @bind-value:event="oninput" @onkeydown="OnKeyDownTxtID">
                                            </div>
                                            <div class="col-md-5" style="width: 99.75px;">
                                                <button class="btn btn-primary" type="button" tabindex="-1" disabled="@stsBtnPesquisa"
                                                        @onclick="openPesquisaDialog">Pesquisar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="width: 194.516px;">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Tipo</h4>
                                        <div class="form-check" style="width: 96.25px;">
                                            <input class="form-check-input" type="checkbox" id="formCheck-1" disabled="@stsTipoCliente" 
                                                   @bind="cliente.tipoCliente">
                                            <label class="form-check-label" for="formCheck-1">Cliente</label>
                                        </div>
                                        <div class="form-check" style="width: 127.406px;">
                                            <input class="form-check-input" type="checkbox" id="formCheck-3" disabled="@stsTipoFornecedor"
                                                   @bind="cliente.tipoFornecedor">
                                            <label class="form-check-label" for="formCheck-3">Fornecedor</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="width: 195.516px;">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Config</h4>
                                        <div class="form-check" style="width: 94.5px;margin-top: -2px;">
                                            <input class="form-check-input" type="checkbox" id="formCheck-2" style="margin-top: 12px;" name="ChkSenha" 
                                                   tabindex="-1" disabled="@stsInativo" @bind="@cliente.inativo">
                                            <label class="form-check-label" for="formCheck-2" style="margin-top: 8px;">Inativo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: Cod Prod e Inativo -->
                    <!-- Start: Nome -->
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nome</h4>
                                <input class="form-control" type="text" placeholder="Nome" required="" maxlength="50" disabled="@stsNome" @bind="cliente.nome">
                            </div>
                        </div>
                    </div><!-- End: Nome -->
                    <!-- Start: Documento -->
                    <div class="row mb-3" style="margin-left: 0px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Documento</h4><!-- Start: 1 Row 2 Columns -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6" style="width: 153.406px;">
                                            <select class="form-select" style="width: 123.062px;margin-bottom: 5px;" required="" disabled="@stsTipoDoc" 
                                                    @bind="@tipoDoc" onselect="@formataDocumento">
                                                <option value="CPF" selected="">CPF</option>
                                                <option value="CNPJ">CNPJ</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" placeholder="Documento" required="" disabled="@stsDocumento"
                                            @bind="cliente.documento" @oninput="formataDocumento" maxlength="@tamanhoDoc">
                                        </div>
                                    </div>
                                </div><!-- End: 1 Row 2 Columns -->
                            </div>
                        </div>
                    </div><!-- End: Documento -->
                    <!-- Start: Endereço -->
                    <div class="row mb-3">
                        <!-- Start: CEP - UF - Cidade -->
                        <div class="container" style="margin-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4 col-xxl-3">
                                    <div class="card">
                                        <div class="card-body" style="height: 86px;border-style: none;border-color: var(--bs-secondary-color);">
                                            <h4 class="card-title" style="height: 19px;margin-top: -8px;">CEP</h4>
                                            <input class="form-control form-control-user" type="text" placeholder="CEP" style="width: 129px;"
                                                   name="CEP" required="" maxlength="9" @oninput="formataCep" disabled="@stsCep" @bind="cliente.cep">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="width: 135.109px;">
                                    <div class="card" style="width: 114.109px;">
                                        <div class="card-body" style="height: 86px;width: 109.078px;">
                                            <h4 class="card-title" style="margin-top: -8px;height: 19px;">UF</h4>
                                            <select class="form-select" style="width: 74.062px;" required="" disabled="@stsUF" @bind="@cliente.uf">
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AP">AP</option>
                                                <option value="AM">AM</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MT">MT</option>
                                                <option value="MS">MS</option>
                                                <option value="MG">MG</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PR">PR</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RS">RS</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="SC">SC</option>
                                                <option value="SP">SP</option>
                                                <option value="SE">SE</option>
                                                <option value="TO">TO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="width: 55%;">
                                    <div class="card">
                                        <div class="card-body" style="height: 86px;">
                                            <h4 class="card-title" style="margin-top: -8px;height: 19px;">Cidade</h4>
                                            <input class="form-control" type="text" placeholder="Cidade" required="" maxlength="50" disabled="@stsCidade"
                                                   @bind="@cliente.cidade">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End: CEP - UF - Cidade -->
                        <!-- Start: Bairro - Endereco -->
                        <div class="container" style="margin-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-6 col-xxl-4">
                                    <div class="card">
                                        <div class="card-body" style="height: 86px;border-style: none;border-color: var(--bs-secondary-color);">
                                            <h4 class="card-title" style="height: 19px;margin-top: -8px;">Bairro</h4>
                                            <input class="form-control" type="text" placeholder="Bairro" required="" maxlength="50" disabled="@stsBairro"
                                                   @bind="@cliente.bairro">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xxl-7">
                                    <div class="card">
                                        <div class="card-body" style="height: 86px;border-style: none;border-color: var(--bs-secondary-color);">
                                            <h4 class="card-title" style="height: 19px;margin-top: -8px;">Endereço</h4>
                                            <input class="form-control" type="text" placeholder="Endereço" required="" maxlength="50"
                                                   disabled="@stsEndereco" @bind="@cliente.endereco">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End: Bairro - Endereco -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body" style="height: 86px;border-style: none;border-color: var(--bs-secondary-color);">
                                        <h4 class="card-title" style="height: 19px;margin-top: -8px;">Número</h4>
                                        <input class="form-control" type="text" placeholder="Número" required="" maxlength="5" disabled="@stsNumero"
                                               @bind="@cliente.numero">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body" style="height: 86px;border-style: none;border-color: var(--bs-secondary-color);">
                                        <h4 class="card-title" style="height: 19px;margin-top: -8px;">Complemento</h4>
                                        <input class="form-control" type="text" placeholder="Complemento" required="" maxlength="20"
                                               disabled="@stsComplemento" @bind="@cliente.complemento">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: Endereço -->
                    <hr><!-- Start: Botões -->
                    <div class="row">
                        <!-- Start: Novo -->
                        <div class="col-md-3" style="height: 45px;">
                            <!-- Start: Novo -->
                            <button class="btn btn-primary d-block btn-user w-100" data-bss-hover-animate="pulse" id="submitBtn" type="button" 
                                    style="height: 39px;background: rgb(74,170,15);" disabled="@stsBtnNovo" 
                                    @onclick="(() => validaStatus(CADASTRAR))">Novo</button><!-- End: Novo -->
                        </div><!-- End: Novo -->
                        <!-- Start: Editar -->
                        <div class="col-md-3" style="height: 45px;">
                            <!-- Start: Editar -->
                            <button class="btn btn-primary d-block btn-user w-100" data-bss-hover-animate="pulse" id="submitBtn-1" type="button" 
                                    style="height: 39px;background: rgb(0,100,200);" disabled="@stsBtnEditar"
                                    @onclick="(() => validaStatus(EDITAR))">Editar</button><!-- End: Editar -->
                        </div><!-- End: Editar -->
                        <!-- Start: Excluir -->
                        <div class="col-md-3" style="height: 45px;">
                            <!-- Start: Excluir -->
                            <button class="btn btn-primary d-block btn-user w-100" data-bss-hover-animate="pulse" id="submitBtn-2" type="button" 
                                    style="height: 39px;background: rgb(203,30,19);" disabled="@stsBtnExcluir"
                                    @onclick="(() => OpenDeleteDialog())">Excluir</button><!-- End: Excluir -->
                        </div><!-- End: Excluir -->
                        <!-- Start: Cancelar -->
                        <div class="col-md-3" style="height: 45px;">
                            <!-- Start: Cancelar -->
                            <button class="btn btn-primary d-block btn-user w-100" data-bss-hover-animate="pulse" id="submitBtn-3" type="button" 
                                    style="height: 39px;background: rgb(228,185,34);" disabled="@stsBtnCancelar"
                                    @onclick="(() => validaStatus(VISUALIZAR))">Cancelar</button><!-- End: Cancelar -->
                        </div><!-- End: Cancelar -->
                    </div><!-- End: Botões -->
                    <hr>
                    <button class="btn btn-primary" data-bss-hover-animate="pulse" type="submit" 
                            style="padding: 6px 12px;border-radius: 293px;height: 66px;text-align: center;margin-left: 45%;"
                            disabled="@stsBtnSalvar">Salvar</button>
                </form><!-- End: Register Form -->
            </div>
        </div>
    </div>

    @if (DeleteDialogOpen)
    {
        <ConfirmModal Titulo="Exlusão de Categoria" Texto="@mensagem" OnClose="@OnDeleteDialogClose"></ConfirmModal>
    }

    @if (pesquisaDialogOpen)
    {
        <Consulta tipo="Consulta.tipoConsultas.cliente" inativos="pesquisaInativos" idReturn="@onPesquisaDialogClose"></Consulta>
    }
}