@page "/"
@inject IOperadorLocalService service

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div class="m-2 p-2">
    @* <button class="btn btn-primary" @onclick="AddToast()">Add a Toast</button> *@
</div>

<br />

<div class="m-2 p-2">
    <button class="btn btn-primary" @onclick="IniciarSessao">Iniciar Sessão</button>
</div>

<div class="m-2 p-2">
    <button class="btn btn-primary" @onclick="PegarDadosSessao">Get Sessão</button>
</div>

<div class="m-2 p-2">
    <button class="btn btn-primary" @onclick="ApagarDados">Apagar Sessão</button>
</div>

@if(telas is not null)
{
    foreach(var tela in telas)
    {
        <a>id: @tela.id  -  </a>
        <a>nome: @tela.nome  -  </a>
        <a>ativo: @tela.ativo  -  </a>
        <a>novo: @tela.novo  -  </a>
        <a>editar: @tela.editar  -  </a>
        <a>excluir: @tela.excluir  -  </a>
        <a>operador: @tela.idOperador  -  </a>
        <a>id tela: @tela.idTela</a>

        <br />
    }
}

@code {
    [Inject] private ToasterService? _toasterService { get; set; }
    [Inject] private NavigationManager? NavigationManager { get; set; }
    private ToasterService toasterService => _toasterService!;
    private OperadorDTO operadorLogado { get; set; }
    private IEnumerable<OperadorTelaDTO> telas {get;set;}

    private void AddToast(string titulo, string mensagem)
    => toasterService.AddToast(Toast.NewToast(titulo, mensagem, MessageColour.Danger, 10));

    protected override async Task OnInitializedAsync()
    {
        //await IniciarSessao();
        await getOperadorSession();
        await validarAcesso();
    }

    private async Task getOperadorSession()
    {
        try
        {
            operadorLogado = await service.GetSessaoOperador();
        }
        catch (Exception ex)
        {
            _toasterService.AddToast(Toast.NewToast("ERRO", $"Ocorreu um erro: {ex.Message}", MessageColour.Danger, 8));
        }
    }

    private async Task validarAcesso()
    {
        if (operadorLogado == null)
        {
            NavigationManager.NavigateTo("/login"); // ALTERAR PARA TELA DE LOGIN
        }
    }

    private async Task IniciarSessao()
    {
        await service.SetSessao(1);

        AddToast("Sessão", "Sessão Criada com sucesso");
    }

    private async void PegarDadosSessao()
    {
        // operador = await service.GetSessaoOperador();
        // telas = await service.GetSessaoTelas();

        AddToast("Sessão", "Sessão Get com sucesso");
    }



    private async void ApagarDados()
    {
        await service.LimparSessao();
    }
}
